:root {
	--hidebar-button-border: none;
}
#hidebar-button {
	display: none;
}
#sidebar {
	--_sidebar-desktop-size: 380px;
	--_sidebar-mobile-size: 100%;
	--_sidebar-background-color: var(--fio-sys-color-primary-medium);
	--_sidebar-border: none;
	--_sidebar-mobile-course-name-color: var(--fio-sys-color-neutral-white);

	--_sidebar-module-btn--active: var(--fio-sys-color-accent-medium);
	--_sidebar-module-btn--hover: #872912;
	--_sidebar-module-btn-color: var(--fio-sys-color-neutral-white);
	--_sidebar-module-content-background-color: #872912;

	--_sidebar-lesson-btn--active: var(--fio-sys-color-primary-medium);
	--_sidebar-lesson-btn--hover: var(--fio-sys-color-primary-medium);
	--_sidebar-lesson-btn-color: var(--fio-sys-color-neutral-white);
	--_sidebar-lesson-content-background-color: #872912;

	--_sidebar-link-item--hover: var(--fio-sys-color-primary-medium);
	--_sidebar-link-item--active: var(--fio-sys-color-primary-light-contrast);
	--_sidebar-link-item-color: var(--fio-sys-color-neutral-white);

	/* --_sidebar-link-item--active: rgba(255, 255, 255, 0.2); */

	/* float: left; */
	max-width: 100%;
	min-height: 100vh;
	will-change: min-height;
	width: var(--_sidebar-mobile-size);
	z-index: 102;
	max-height: 100%;
	/* left: -100%; */
	overflow: scroll;
	position: fixed;
	transition: 0.5s ease-in-out;
	transform: translateX(-100%);
	scrollbar-width: none;
}
#sidebar .sidebar__inner {
	background-color: var(--_sidebar-background-color);
	min-height: 100vh;
	padding: 0 0 16px 0;
	position: relative;
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}
#sidebar .sidebar__section {
	padding: var(--fio-sys-spacing-padding-sm) var(--fio-sys-spacing-margin-sm);
}

/* SIdebar Header - course's name and close button */

#sidebar .sidebar__section .sidebar__section-header {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	gap: 16px;
	padding: 16px 8px;
}
#sidebar .sidebar__section .sidebar__section-header .course-name {
	flex-basis: max-content;
}
#sidebar .sidebar__section .sidebar__section-header .course-name h2 {
	color: var(--_sidebar-mobile-course-name-color);
	font-size: 32px;
}

/* Close button */

#sidebar .mobile-toggle-close:focus {
	background-color: var(--fio-sys-color-primary-dark);
	border-radius: var(--fio-sys-spacing-border-radius-md);
}
#sidebar .mobile-toggle-close .mobile-toggle__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
}
#sidebar .mobile-toggle-close .mobile-toggle__button:hover {
	background: none;
	color: inherit;
	text-decoration: none;
}
#sidebar .mobile-toggle-close .mobile-toggle__button .icon {
	font-size: 32px;
	color: white;
	line-height: 100%;
	transform: rotateY(180deg);
}

/* Section accordion */
#sidebar .sidebar__section .sidebar__section-accordion .accordion .accordion-item .accordion-button {
	text-transform: none;
}

#sidebarAccordion {
	gap: 16px;
	display: flex;
	flex-direction: column;
}

#sidebar .sidebar__section .sidebar__section-accordion .accordion .accordion-item {
	background: transparent;
	border: none;
	border-radius: 8px;
}
/* #sidebar .sidebar__section .sidebar__section-accordion .accordion .accordion-item.accordion-module .list-group-item:not(:last-child) {
	margin-bottom: 16px;
} */
/* #sidebar .sidebar__section .sidebar__section-accordion .accordion .accordion-item.accordion-lesson .list-group-item:not(:last-child) {
	margin-bottom: 8px;
} */
#sidebar .sidebar__section .sidebar__section-accordion .accordion .accordion-item:has(.accordion .accordion-button) {
	background-color: transparent;
}
/* #sidebar .sidebar__section .sidebar__section-accordion .accordion .accordion-item:has(.accordion-header .accordion-button) {
	background-color: #872912;
} */

#sidebar .accordion-item .accordion-header .accordion-button,
#sidebar .accordion-item .accordion-header .accordion-button:focus {
	gap: 16px;
	background: transparent;
	color: var(--fio-sys-color-neutral-white);
	border-radius: 8px;
	outline: 0;
	box-shadow: none;
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-header .accordion-button::after {
	content: none;
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-header .accordion-button::before {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
	content: "";
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 1.25rem;
	transition: transform 0.2s ease-in-out;
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-header .accordion-button:not(.collapsed)::before {
	transform: rotate(-180deg);
}
#sidebar .accordion .accordion-item.accordion-module .accordion-header .accordion-button:hover {
	background-color: var(--_sidebar-module-btn--hover);
}
#sidebar .accordion .accordion-item.accordion-module .accordion-header .accordion-button:not(.collapsed) {
	background-color: var(--_sidebar-module-btn--active);
}
#sidebar .accordion .accordion-item .accordion-collapse {
	/* background-color: transparent; */
	background-color: var(--_sidebar-module-content-background-color);
	margin-top: 8px;
	border-radius: 8px;
}

#sidebar .accordion .accordion-item.accordion-lesson .accordion-header .accordion-button {
	text-transform: none;
	font-weight: 400;
}
#sidebar .accordion .accordion-item.accordion-lesson .accordion-header .accordion-button:hover {
	background-color: var(--_sidebar-lesson-btn--hover);
}
#sidebar .accordion .accordion-item.accordion-lesson .accordion-header .accordion-button:not(.collapsed) {
	background-color: var(--_sidebar-lesson-btn--active);
}

#sidebar .sidebar__section .sidebar__section-accordion .accordion-module .accordion-body.list-group {
	padding: 16px 8px 16px 16px;
	gap: 16px;
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-lesson .accordion-body.list-group {
	padding: 16px 8px 16px 16px;
	gap: 4px;
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-body.list-group .list-group-item {
	background-color: transparent;
	color: #fff;
	border: none;
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-body.list-group .list-group-item::before {
	font-family: "Material Symbols Rounded";
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-body.list-group .list-group-item:hover {
	background-color: var(--_sidebar-link-item--hover);
	border-radius: 8px;
	text-decoration: none;
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-body.list-group .list-group-item.active {
	/* background-color: var(--_sidebar-link-item--active); */
	color: var(--_sidebar-link-item-color);
	border-radius: 8px;
	border: 2px solid var(--fio-sys-color-primary-light);
}
#sidebar .sidebar__section .sidebar__section-accordion .accordion-body.list-group .list-group-item.active::before {
	.material-symbols-outlined {
		font-variation-settings: "FILL" 1;
	}
}

.icon-welcome::before {
	content: "flag"; /* ou use um SVG ou font icon */
	margin-right: 5px;
}

.icon-lesson::before {
	content: "book";
	margin-right: 5px;
}

.icon-activity::before {
	content: "checklist";
	margin-right: 5px;
}

.icon-closing::before {
	content: "sports_score";
	margin-right: 5px;
}

/* Menu from header */

#sidebar .header-nav {
	padding: 0;
}
#sidebar .header-nav .nav-item {
	flex: 1;
}
#sidebar .header-nav .nav-item .nav-link {
	color: var(--fio-sys-color-neutral-white);
	text-align: center;
	text-decoration: none;
	font-family: var(--fio-ref-typography-family-primary-light);
	font-size: var(--fio-ref-typography-size-075);
	padding: var(--fio-sys-spacing-padding-sm);
}
#sidebar .header-nav .nav-item .nav-link:focus {
	background-color: var(--fio-sys-color-primary-dark);
	border-radius: var(--fio-sys-spacing-border-radius-lg);
}
#sidebar .header-nav .nav-link .icon {
	display: block;
	margin-bottom: var(--fio-sys-spacing-padding-sm);
	font-size: var(--fio-ref-typography-size-125);
}

/* Open and Close Sidebar  */
.sidebar-show {
	translate: 100%;
}
.prevent-scroll {
	height: 100%;
	overflow: hidden;
}
.html-overflow {
	overflow: hidden;
}

.touch-enable {
	touch-action: inherit;
}
.touch-disable {
	touch-action: none;
	filter: blur(4px);
}
/* ------------------------ */

/* Sidebar Desktop */

@media (min-width: 992px) {
	#sidebar {
		float: left;
		/* display: inline-block; */
		font-size: 1rem;
		width: 380px;
		min-height: 100vh;
		will-change: min-height, margin-left;
		z-index: 99;
		position: relative;
		transform: none;
		overflow: visible;
		box-shadow: 4px 0 0 0 var(--_sidebar-border);
		transition: margin-left 0.25s ease-out;
	}
	#sidebar .sidebar__inner {
		padding: 120px 0 16px 0;
		position: relative;
		transform: translate(0, 0);
		transform: translate3d(0, 0, 0);
		will-change: position, transform;
		min-height: 100vh;
		transition: left 0.25s ease-out;
	}

	/* Section hidebar */

	#hidebar-button {
		position: fixed;
		left: 380px;
		top: 100px;
		background-color: var(--fio-sys-color-primary-medium);
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		border: none;
		box-shadow: 4px 0 0 0 var(--hidebar-button-border), 0 4px 0 0 var(--hidebar-button-border), 0 -4px 0 0 var(--hidebar-button-border);
		padding: 12px;
		padding-left: 6px;
		z-index: 99;
		transition: left 0.25s ease-out;
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#hidebar-button:hover {
		--hidebar-button-border: var(--_sidebar-module-btn--hover);
		box-shadow: 4px 0 0 0 var(--hidebar-button-border), 0 4px 0 0 var(--hidebar-button-border), 0 -4px 0 0 var(--hidebar-button-border);
		text-decoration: none;
	}
	#hidebar-button:before {
		content: "left_panel_close";
		font-family: "Material Symbols Rounded";
		font-size: 32px;
		color: var(--fio-sys-color-neutral-white);
	}

	#hidebar-button.hidebar-button--close:before {
		content: "left_panel_open";
	}

	.hidebar-page--close {
		margin-left: 0 !important;
	}

	.sidebar__topic-list .sidebar__list-item {
		position: relative;
		display: flex;
		align-items: flex-start;
		color: #ffffff;
		font-size: var(--fio-ref-typography-size-100);
	}
}
@media (min-width: 1200px) {
	#sidebar {
		max-width: 380px;
	}
}
