/* TYPOGRAPHY */

body {
	color: var(--fio-sys-typography-paragraph-color);
	font-family: var(--fio-sys-typography-paragraph-family);
	/* font-size: var(--fio-sys-typography-paragraph-size); */
}
/* @media (min-width: 992px) {
	html {
		font-size: calc(var(--fio-ref-typography-size-base) * 1.25);
	}
} */

a,
a:visited {
	color: var(--fio-sys-typography-link-color);
	font-family: var(--fio-sys-typography-link-family);
	font-weight: var(--fio-sys-typography-link-weight);
	text-decoration: none;
	text-transform: none;
	overflow-wrap: anywhere;
}
a:hover {
	color: var(--fio-sys-typography-link-color--hover);
	text-decoration: underline;
}

a:focus {
	outline: var(--fio-sys-typography-link-color--focus);
}
a:active {
	color: var(--fio-sys-typography-link-color--hover);
}
a[target='_blank']:not(.no-after):after {
	font-family: 'Material Symbols Rounded';
	content: 'open_in_new';
	vertical-align: text-bottom;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 80%;
	text-decoration: none;
}
a[target='_blank']:after :hover {
	text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: var(--fio-sys-typography-head-color);
	font-family: var(--fio-sys-typography-head-family);
	font-weight: var(--fio-sys-typography-head-weight);
	line-height: var(--fio-sys-typography-head-md-line-height);
	margin-bottom: var(--fio-sys-typography-head-margin-bottom);
}
h1,
.h1 {
	font-size: calc(var(--fio-sys-typography-head-xxl-size) * 0.8);
}
h2,
.h2 {
	font-size: calc(var(--fio-sys-typography-head-xl-size) * 0.8);
}
h3,
.h3 {
	font-size: calc(var(--fio-sys-typography-head-lg-size) * 0.8);
}
h4,
.h4 {
	font-size: calc(var(--fio-sys-typography-head-md-size) * 0.8);
}
h5,
.h5 {
	font-size: calc(var(--fio-sys-typography-head-sm-size) * 0.8);
}
h6,
.h6 {
	font-size: calc(var(--fio-sys-typography-head-xs-size) * 0.8);
}

p {
	color: var(--fio-sys-typography-paragraph-color);
	font-family: var(--fio-sys-typography-paragraph-family);
	font-size: var(--fio-sys-typography-paragraph-size);
	font-weight: var(--fio-sys-typography-paragraph-weight);
	letter-spacing: var(--fio-sys-typography-paragraph-tracking);
	line-height: var(--fio-sys-typography-paragraph-height);
	margin-bottom: var(--fio-sys-typography-paragraph-margin-bottom);
}

p:last-child {
	margin-bottom: 0;
}

p > small {
	display: block;
	font-size: var(--fio-sys-typography-paragraph-sm-size);
	line-height: var(--fio-sys-typography-paragraph-sm-height);
}

quotation {
	font-family: var(--fio-sys-typography-quotation-family);
}

@media (min-width: 992px) {
	h1,
	.h1 {
		font-size: var(--fio-sys-typography-head-xxl-size);
	}
	h2,
	.h2 {
		font-size: var(--fio-sys-typography-head-xl-size);
	}
	h3,
	.h3 {
		font-size: var(--fio-sys-typography-head-lg-size);
	}
	h4,
	.h4 {
		font-size: var(--fio-sys-typography-head-md-size);
	}
	h5,
	.h5 {
		font-size: var(--fio-sys-typography-head-sm-size);
	}
	h6,
	.h6 {
		font-size: var(--fio-sys-typography-head-xs-size);
	}
}
