/* --- MODAL --- */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1055;
	display: none;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
}

.modal .modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: var(--fio-sys-spacing-border-radius-xl);
	outline: 0;
}

.modal .modal-header {
	background-color: var(--fio-component-card-header-background);
	color: var(--fio-sys-typography-head-color);
	font-family: var(--fio-sys-typography-head-family);
	font-size: var(--fio-sys-typography-head-xs-size);
	font-weight: var(--fio-sys-typography-head-weight);
	letter-spacing: var(--fio-sys-typography-head-tracking);
	line-height: var(--fio-sys-typography-head-xs-line-height);
	margin: 0;
	padding: var(--fio-component-card-header-padding-y) var(--fio-component-card-header-padding-x);
	border-top-left-radius: var(--fio-sys-spacing-border-radius-xl);
	border-top-right-radius: var(--fio-sys-spacing-border-radius-xl);
}

.modal .modal-body {
	padding: var(--fio-sys-spacing-padding-lg);
}